.show-dan{
	-webkit-animation:showToastyGuy 2s;
	   -moz-animation:showToastyGuy 2s;
	     -o-animation:showToastyGuy 2s;
			animation:showToastyGuy 5s;

}

@-webkit-keyframes showToastyGuy 
{
	0% {bottom: -200px;}
	40% {bottom: 0;}
	60% {bottom: 0;}
	100% {bottom: -200px;}
}

@-moz-keyframes showToastyGuy 
{
	0% {bottom: -200px;}
	40% {bottom: 0;}
	60% {bottom: 0;}
	100% {bottom: -200px;}
}

@-o-keyframes showToastyGuy 
{
	0% {bottom: -200px;}
	40% {bottom: 0;}
	60% {bottom: 0;}
	100% {bottom: -200px;}
}

@keyframes showToastyGuy 
{
	0% {bottom: -200px;}
	40% {bottom: 0;}
	60% {bottom: 0;}
	100% {bottom: -200px;}
}